{% extends 'bootstrap4.html.twig' %}

{% block title %}Dashboard | Smart Gallery Manager{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            Smart Gallery Manager
            <a href="{{ url('gallery') }}" class="btn btn-primary">
                Go to Gallery
            </a>
        </h1>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h2>Overview</h2>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Files
                <span class="badge badge-primary badge-pill">{{ files_count }}</span>
            </li>
        </ul>
        <hr />
        <div class="row">
            <div class="col col-md-6">
                <h2>Commands</h2>
                <h3>Files - Scan</h3>
                {% form_theme files_scan_form 'jquery.collection.html.twig' %}
                {{ form(files_scan_form) }}
                <hr />
                <h3>Queue - Stop workers</h3>
                {{ form(queue_stop_workers_form) }}
            </div>
            <div id="logs-wrapper" class="col col-md-6">
                <h2>Log files</h2>
                {% if log_files %}
                    <div class="list-group">
                        {% for log_file in log_files %}
                            <a href="{{ url('dashboard.log', {
                                name: log_file.name,
                            }) }}"
                                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                            >
                                {{ log_file.name }}
                                <span class="badge badge-primary badge-pill">{{ log_file.lines }}</span>
                            </a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-info">
                        No logs yet
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collection').collection({
                allow_up: false,
                allow_down: false,
                allow_duplicate: false,
            });

            // TODO: implement a nicer solution
            setInterval(function() {
                $.get(window.location.href, function(response) {
                    var $html = $(response);
                    $('#logs-wrapper').html(
                        $html.find('#logs-wrapper').html()
                    );
                });
            }, 5000);
        });
    </script>
{% endblock %}
